<div class="flex flex-wrap gap-4 mt-6">

  <button
    class="px-5 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700"
    (click)="selectTech('react')"
  >
    React
  </button>

  <button
    class="px-5 py-2 bg-green-600 text-white rounded-lg hover:bg-green-700"
    (click)="selectTech('node')"
  >
    Node
  </button>

  <button
    class="px-5 py-2 bg-cyan-600 text-white rounded-lg hover:bg-cyan-700"
    (click)="selectTech('tailwind')"
  >
    Tailwind
  </button>

  <button
    class="px-5 py-2 bg-purple-600 text-white rounded-lg hover:bg-purple-700"
    (click)="selectTech('mongodb')"
  >
    MongoDB
  </button>

</div>
